.ipynb_checkpoints/
amazing_data.png
amazing_data.svg
~
~$Test_data_survival_course.xlsx
export.yaml
random_noise.h5
requirements.txt
Test_data_survival_course.xlsx_avg.xlsx
Test_data_survival_course.xlsx_cleaned.xlsx
Test_data_survival_course.xlsx.png
